################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebApplication1/bin/Debug/net6.0
/.vs
/WebApplication1/obj
